{% extends 'base.html' %}

{%block title%}- Ver posts{%endblock%}
{%block contenido%}

    {% if object_list %}

        {% for p in object_list reversed %}

            <div class="contenido">

                <h2 class="">{{p.title}}</h2> 
                
                <img class="post_img" src={{p.imagen.url}} alt="">

                <p>{{p.text |slice:":200" |safe}}</p>
                <!-- |safe (rich text format), slice(limite de caracteres) -->
               
                <a class="button00" href="{% url 'apps.news:news_detail' p.id  %}">read more</a><span> | </span>
                <a class="admin button01" href="{% url 'apps.news:news_edit' p.id  %}">Editar</a>
                <p class="post_date">{{date}}</p> 
               
            </div>

        {% endfor %}

    {%else%}

        <div class="contenido">

            <h2 class="">{{p.title}}</h2>

            <img class="post_img" src={{p.imagen.url}} alt="">

            <p>{{p.text |slice:":200" |safe}}</p>
            <!-- |safe (rich text format), slice(limite de caracteres) -->

            <p class="post_date">{{date}}</p>
        </div>

    {%endif%}

{%endblock%}