{% extends 'base.html' %}

{%block contenido%}

    {% if object_list %}

        {% for p in object_list %}

            <div class="contenido">

                <h2 class="">{{p.title}}</h2>
                
                <img class="post_img" src={{p.imagen.url}} alt="">

                <p>{{p.text}}</p>

                <p class="post_date">{{date}}</p>
            </div>

        {% endfor %}

    {%else%}

        <div class="contenido">

            <h2 class="">{{p.title}}</h2>
            
            <img class="post_img" src={{p.imagen.url}} alt="">

            <p>{{p.text}}</p>

            <p class="post_date">{{date}}</p>
        </div>

    {%endif%}

{%endblock%}