
<footer>

    <div class="footer_redes">
    <p>Encontranos en las redes</p>
    <a href="https://www.facebook.com/oportunidadecambio/" class="fa fa-facebook"></a>
    </div>
    
    <div class="footer_contacto">
        <p>Tel: 3734-403707</p>
        Dirección: Las Heras 345 - Machagai, Chaco 
        <p>Email: oportinidaddecambiomachagai@gmail.com</p>
    </div>
    
    
    <div class="footer_copy">
    <p>@ Oportunidad de Cambio. Todos los derechos reservados. 2022</p>
</div>

</footer>
